/** GLOBAL CSS **/

html{ 
  background: url(bann5.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a{
	text-decoration: none;
	color: white;
}





/** Main Container CSS */

.container{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.block1{
	color: white;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-color: red;
	margin: 15px;
	font-size: 20px;
}

.nav{
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}

.nav a{
	padding: 4px;
}

.navlist{
	padding: 12px;
}

.active{
	background-color: #8B008B;
	color: #ffffff; 
	
}

.nav a:hover{
	color: #DDA0DD;
	border-bottom: 2px solid #8B008B;
} 


.favicon{
	text-shadow: 2px 2px black;
	margin-left: 20px;
	vertical-align: bottom;
	font-size: 30px;
	font-weight: bolder;

}

.favicon span{
	font-size: 150%;
	vertical-align: middle;
}


.block2{
	margin-top: 200px; 
}

.text{
	display: flex;
	text-align: center;
	flex-direction: row;
	text-shadow: 2px 2px black;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}


.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.butt{
	background-color: #DDA0DD; /* Purple */
	border: 2px solid #8B008B;
	border-radius: 25px;
	color: #8B008B;
	padding: 10px 25px;
	margin: 20px;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.butt:hover {
     background-color: #8B008B; /* Green */
     color: white;
}

.highlight{
	color: #DDA0DD;
}


/** About section **/

.aboutheading .my{
	border: 1px solid black;

}


.about{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 1px solid black;
}

.mypicture{

}



